/* NAV */

.nav {
  margin: 20px 0;
}
.nav__link {
  margin-right: 20px;
}
.nav__skip {
  position: absolute;
  left: -10000px;
}
.nav__skip:focus {
  position: static;
  left: auto;
}


/* ARTICLE */

.article {
  padding-bottom: 40px;
}
.article h1 {
  font-size: 2.643rem;
  margin: 0;
}
.article h1 > a[href] {
  border-bottom: none;
  color: inherit;
}
.article h1,
.article h2,
.article h3 {
  font-weight: 400;
  line-height: 1.2;
}
.article h2 {
  margin-bottom: 0.5em;
  font-size: 1.643rem;
}
.article h2:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid var(--separatorColor);
  padding-bottom: 20px;
}
.article p {
  margin: 0;
  line-height: 1.75;
}
.article p + p {
  margin-top: 1.75em;
}
.article hr {
  height: 0;
  border: none;
  border-top: 5px solid var(--separatorColor);
  margin: 1.75em 0;
}
.article h3 {
  margin-top: 1.25em;
  font-size: 1.286rem;
}
.article blockquote {
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 4px solid var(--blockquoteBorderColor);
}
.article blockquote em {
  font-size: 1.286rem;
}
.article__bg {
  position: relative;
  min-height: 400px;
  background-color: #ffe4c4;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2em;
}
.article__header {
  display: none;
}
.article__bgHeader {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: #fff;
}
.article__bgTitleWrap {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
  background-color: rgba(0,0,0,0.75);
}
.article__bgSubHeader a[href] {
  color: inherit;
  border-color: #fff;
}
.article__bgPhotoCred {
  margin-left: 1em;
}
@media (max-width: 667px) {
  .article h1 {
    font-size: 2rem;
  }
  .article__bg {
    display: none;
    background-image: none !important;
  }
  .article__header {
    display: block;
    color: inherit;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 10px solid var(--separatorColor);
  }
}


/* IFRAME*/

iframe {
  width: 100%;
}
.iframe--example {
  border: 2px solid var(--iframeBorderColor);
}


/* CODE */

/**
 * Based on copypasta from Remy Bach, Sarah Drasner through Dan Abramov
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  font-size: 0.85rem;
  line-height: 1.75rem;
}
pre code {
  font-size: inherit;
  line-height: 1.75rem;
}
.sourceCode:not(pre):not(code) {
  background-color: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  border-radius: 10px;
}
code.sourceCode,
pre.sourceCode {
  color: #fff;
  background: none;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
pre.sourceCode {
  float: left;
  min-width: 100%;
  overflow: auto;
  padding: 1.3125rem;
}
/* Firefox */
pre.sourceCode::-moz-selection {
  background-color: hsl(207, 4%, 16%);
}
/* Safari */
pre.sourceCode::selection {
  background-color: hsl(207, 4%, 16%);
}
/* Text Selection colour */
pre.sourceCode::-moz-selection,
pre.sourceCode ::-moz-selection {
  text-shadow: none;
  background-color: hsla(0, 0%, 100%, 0.15);
}
pre.sourceCode::selection,
pre.sourceCode ::selection {
  text-shadow: none;
  background-color: hsla(0, 0%, 100%, 0.15);
}
/* Inline code */
:not(pre) > code {
  border-radius: 0.3em;
  background-color: var(--inlineCodeBgColor);
  color: var(--inlineCodeColor);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}
a[href] > code {
  box-shadow: 0 1px 0 var(--textLinkColor);
  border-radius: 3px;
}
a[href]:hover > code,
a[href]:focus > code,
a[href]:visited > code {
  box-shadow: 0 1px 0 var(--textLinkHoverColor);
}
pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
}
.co { /* Comment */
  color: rgb(128, 147, 147);
}
.ch,  /* Char */
.st,  /* String */
.vs { /* ??? */
  color: rgb(173, 219, 103);
}
.va { /* Variable */
  color: rgb(214, 222, 235);
}
.dv,  /* DecVal */
.bn,  /* BaseN */
.fl { /* Float */
  color: rgb(247, 140, 108);
}
.bu,  /* BuiltIn */
.cn,  /* Constant */
.at,  /* Attribute (function) */
.fu,  /* Function */
.dt { /* DataType */
  color: rgb(130, 170, 255);
}
.im,  /* Import */
.op,  /* Operator */
.kw,  /* Keyword */
.ot,  /* Other */
.cf { /* ControlFlow */
  color: #ffa7c4;
}
/*.token.attr-name {*/
/*  color: rgb(173, 219, 103);*/
/*  font-style: italic;*/
/*}*/
/*.token.punctuation {*/
/*  color: rgb(199, 146, 234);*/
/*}*/
/*.token.selector,*/
/*.token.doctype {*/
/*  color: rgb(199, 146, 234);*/
/*  font-style: 'italic';*/
/*}*/
/*.token.class-name {*/
/*  color: rgb(255, 203, 139);*/
/*}*/
/*.token.tag,*/
/*.token.boolean {*/
/*  color: rgb(255, 88, 116);*/
/*}*/
/*.token.property {*/
/*  color: rgb(128, 203, 196);*/
/*}*/
/*.token.namespace {*/
/*  color: rgb(178, 204, 214);*/
/*}*/

code.sourceCode > a.sourceLine:before {
  display: inline-block;
  content: attr(title);
  text-align: right;
  border-right: 1px solid rgba(128,147,147, 0.4);
  color: rgb(128,147,147);
  width: 30px;
  padding-right: 10px;
  margin-right: 10px;
}
@media (max-width: 667px) {
  .sourceCode:not(pre):not(code) {
    border-radius: 0;
  }
  code.sourceCode > a.sourceLine:before {
    display: none;
  }
}

/*table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre*/
/*   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }*/
/*td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }*/
/*td.sourceCode { padding-left: 5px; }*/
/*.sourceCode span.kw { color: #007020; font-weight: bold; }*/
/*.sourceCode span.dt { color: #902000; }*/
/*.sourceCode span.dv { color: #40a070; }*/
/*.sourceCode span.bn { color: #40a070; }*/
/*.sourceCode span.fl { color: #40a070; }*/
/*.sourceCode span.ch { color: #4070a0; }*/
/*.sourceCode span.st { color: #4070a0; }*/
/*.sourceCode span.co { color: #60a0b0; }*/
/*.sourceCode span.ot { color: #007020; }*/
/*.sourceCode span.al { color: red; font-weight: bold; }*/
/*.sourceCode span.fu { color: #06287e; }*/
/*.sourceCode span.re { }*/
/*.sourceCode span.er { color: red; font-weight: bold; }*/

/* SHAME */

.italic {
  font-style: italic;
}
