.author {
  position: relative;
  margin-top: 40px;
}
.author__image {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10%;
  width: 100px;
  margin: 0;
}
.author__name,
.author__title {
  margin: 0;
  font-weight: 400;
}
.author__name {
  font-weight: 400;
  line-height: 1.2;
  font-size: 2.643rem;
}
.author__title {
  font-size: 1rem;
  line-height: 1.2;
  color: var(--authorTitleColor);
}
.author__links {
  margin-top: 20px;
}
.author__links > a {
  margin-right: 20px;
}
.posts {
  margin-top: 20px;
}
.posts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.posts__list > li {
  margin-bottom: 20px;
  padding: 5px 20px;
  border-left: 3px solid var(--separatorColor);
}
.reviews {
 margin-top: 20px;
}
.reviews__header,
.posts__header {
  margin-bottom: 0.5em;
  font-size: 1.643rem;
  font-weight: 400;
  line-height: 1.2;
}
.reviews__header:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid var(--separatorColor);
  padding-bottom: 20px;
}
.review {
  position: relative;
  margin-bottom: 40px;
}
.review__author {
  position: absolute;
  top: 7px;
  left: 0;
  width: 75px;
  text-align: center;
}
.review__authorImg {
  border-radius: 10%;
}
.review__text {
  margin: 0 0 0 100px;
}
@media (max-width: 667px) {
  .author__name {
    font-size: 2rem;
  }
  .author__image {
    display: none;
  }
 .reviews {
    margin-top: 0;
  }
}
