article {
  blockquote {
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 4px solid #eee;
    em {
      font-size: $fontSize--h3;
    }
  }
}
.article {
  padding-bottom: 40px;
  h2 {
    @extend .heading--bordered;
  }
}
.article__background {
  position: relative;
  min-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
  @media only screen and (max-width: 667px) {
    display: none;
    background-image: none !important;
  }
}
.article__header {
  display: none;
  @media only screen and (max-width: 667px) {
    display: block;
    color: inherit;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
.article__bgHeader {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: $white;
}
.article__bgTitleContainer {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
  background-color: rgba(0,0,0,0.75);
}
.article__bgHeader small,
.article__header small {
  font-style: italic;
}
.article__subHeader a {
  color: #fff;
  border-color: #fff;
}
