.form {
  margin: 1em 0;
}
.form__container {
  @include flexbox();
  @include justify-content(space-between);
}
.form__label {
  display: none;
}
.form__input {
  @include flex(1);
  margin-right: 1em;
  padding: 0.75em;
  border-radius: 3px;
  border: 3px solid #f2f2f2;
  font-size: 1rem;
  outline: 0;
  &:focus {
    border-color: #bedcf0;
  }
}
.form__submit {
  background-color: #2980b9;
  border: none;
  color: #FFF;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}
