.list--bare {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list--horz > li {
  display: inline-block;
  vertical-align: middle;
}
.list--vertIndex > li {
  margin-bottom: 20px;
  padding: 5px 20px;
  border-left: 3px solid #F2F2F2;
}
