<div class="header-extra">
  <a href="./atom.xml">RSS</a>
  <span aria-hidden="true">&compfn;</span>
  <noscript>(requires JS &rarr;)</noscript>
  <label for="select-theme">Theme</label>
  <select data-select-theme="" id="select-theme">
    <option value="clean-day">Clean (Day)</option>
    <option value="clean-night">Clean (Night)</option>
  </select>
  <span aria-hidden="true">&compfn;</span>
  <label for="select-font">Font</label>
  <select data-select-font="" id="select-font">
    <option value="monospace">monospace</option>
    <option value="Space Mono">Space Mono</option>
    <option value="Victor Mono">Victor Mono</option>
    <option value="Fira Code">Fira Code</option>
    <option value="JetBrains Mono">JetBrains Mono</option>
  </select>
</div>
