<main id="content" data-layout="note">

  <header data-area="heading">
    <h1>$title$</h1>
  </header>

  <section data-area="meta">
    <h2>Info</h2>
    <table data-type="cols-y">
      <tbody>

        $if(desc)$
        <tr>
          <th>Summary</th>
          <td>$desc$</td>
        </tr>
        $endif$

        $if(date)$
        <tr>
          <th>Shared</th>
          <td>$date$</td>
        </tr>
        $endif$

        $if(updated)$
        <tr>
          <th>Revised</th>
          <td>$updated$</td>
        </tr>
        $endif$

      </tbody>
    </table>
  </section>

  <section data-area="article">
    $body$
  </section>

</main>
