{{<layout}}
  {{$content}}

  <main>
    <header class="author">
      <div class="layout--constrained clearfix">
        <img class="author__image float--right" src="/images/robert-london.jpg" alt="Robert Pearce" title="Robert Pearce in London" />
        <h1 class="author__name">Robert Pearce</h1>
        <h2 class="author__title">Freelance Software Developer</h2>
        <div class="author__links">
          <a href="mailto:me@robertwpearce.com?subject=Work Inquiry">Hire Me</a>
        </div>
      </div>
    </header>

    <div class="layout--constrained">

      <section>
        <header>
          <h2 class="heading--fatBottomBorder">Recommendations</h2>
        </header>
        <ul>
          <li>Roof party beard pug keytar you probably haven't heard of them forage.</li>
          <li>Messenger bag PBR&B actually whatever, ennui lumbersexual meditation ramps kinfolk craft beer neutra tumblr. </li>
          <li>Seitan selvage kale chips offal, semiotics bushwick 90's banh mi cardigan organic beard truffaut bitters synth migas. </li>
        </ul>
      </section>

      <section>
        <header>
          <h2 class="heading--fatBottomBorder">Blog Posts</h2>
        </header>
        {{> postsIndex}}
      </section>

    </div>
  </main>

  {{/content}}
{{/layout}}
