article {
  blockquote {
    text-align: center;
    em {
      font-size: $fontSize--h3;
    }
  }
}
.article h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  &:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #F2F2F2;
    margin-bottom: 30px;
  }
}
.article-indexLink {
  display: block;
  border-bottom: none;
}
.article__background {
  position: relative;
  min-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @media only screen and (max-width: 667px) {
    display: none;
    background-image: none !important;
  }
}
.article__header {
  display: none;
  @media only screen and (max-width: 667px) {
    display: block;
    color: inherit;
    padding-bottom: 20px;
  }
}
.article__backgroundHeader {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: $white;
}
