.layout-constrained,
.layout-constrained-large {
  margin-left: auto;
  margin-right: auto;
}
.layout-constrained {
  width: 600px;

  @media only screen and (max-width: 480px) {
    width: 300px;
  }
}
.layout-constrained-large {
  width: 1000px;
}
