.layout--constrained {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 667px) {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
/*.layout--pulledUp {*/
/*  -webkit-transform: translateY(-110px);*/
/*  transform: translateY(-110px);*/
/*  @media only screen and (max-width: 667px) {*/
/*    -webkit-transform: none;*/
/*    transform: none;*/
/*  }*/
/*}*/
