$fontFamily       : "Lato", Verdana, Helvetica, Arial, sans-serif;
$fontFamily--min  : Helvetica, Arial, sans-serif;
$fontSize--root   : 16px;
$fontSize--small  : 0.813rem;
$fontSize--h1     : 2.643rem;
$fontSize--h2     : 1.643rem;
$fontSize--h3     : 1.286rem;
$lineHeight--base : 1.643;

$body-color       : #334249;
$link-color       : #2980b9;
$gray-light       : #c5cfd4;
$white            : #fff;

$headings         : h1, h2, h3, h4, h5, h6;
