html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  min-height: 100vh;
  font-size: 16px;
}
body.light {
  --authorTitleColor: #767676;
  --bgColor: #fff;
  --blockquoteBorderColor: #eee;
  --btnBgColor: #287cb4;
  --btnTextColor: #fff;
  --iframeBorderColor: #e8e8e8;
  --inlineCodeBgColor: rgba(255, 229, 100, 0.2);
  --inlineCodeColor: #1a1a1a;
  --inputBgColor: #fff;
  --inputBorderColorFocus: #82aaff;
  --inputColor: #334249;
  --secretGraphicColor: #1a1a1a;
  --secretGraphicHoverColor: #206592;
  --separatorColor: #f2f2f2;
  --textColor: #334249;
  --textLinkBorderColor: #287cb4;
  --textLinkColor: #287cb4;
  --textLinkHoverColor: #206592;
}
body.dark {
  --separatorColor: #424857;
  --authorTitleColor: hsla(0,0%,100%,0.65);
  --bgColor: #282c35;
  --blockquoteBorderColor: var(--separatorColor);
  --btnBgColor: #0047E2;
  --btnTextColor: #fff;
  --iframeBorderColor: var(--separatorColor);
  --inlineCodeBgColor: rgba(115, 124, 153, 0.2);
  --inlineCodeColor: #e2e4e9;
  --inputBgColor: #282c35;
  --inputBorderColorFocus: #82aaff;
  --inputColor: #fff;
  --secretGraphicBorderLeftColor: #ffa7c4;
  --secretGraphicBorderLeftColor: #ffa7c4;
  --secretGraphicColor: hsla(0, 0%, 100%, 0.88);
  --secretGraphicHoverColor: rgba(255, 167, 196, 0.75);
  --textColor: hsla(0, 0%, 100%, 0.88);
  --textLinkBorderColor: #ffa7c4;
  --textLinkColor: rgb(255, 167, 196);
  --textLinkHoverColor: rgba(255, 167, 196, 0.8);
}
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.643;
  background-color: var(--bgColor);
  color: var(--textColor);
  margin: 0;
  transition: color 0.2s ease-out, background 0.2s ease-out;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  scroll-behavior: smooth;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button {
  font: inherit;
}
a[href] {
  text-decoration: none;
  color: var(--textLinkColor);
  box-shadow: 0 1px 0 0 currentColor;
  word-wrap: break-word;
}
a[href]:hover,
a[href]:focus,
a[href]:visited {
  color: var(--textLinkHoverColor);
  border-bottom-color: var(--textLinkHoverColor);
}
a[href].footnote-ref {
  box-shadow: none;
}
img {
  border: 0;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
figcaption {
  font-size: 0.813rem;
}

/* Utils */

.section--padded {
  padding: 2em 0;
}
.layout--constrained {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

/* Theme toggle */

.toggle {
  position: absolute;
  display: flex;
  top: 1em;
  right: 1em;
  margin: 0;
  padding: 0;
  font: inherit;
  padding: 0.1em 0.5em;
  background-color: var(--btnBgColor);
  color: var(--btnTextColor);
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.nav .toggle {
  top: 50%;
  transform: translateY(-50%);
}
.toggle__day,
.toggle__night {
  display: inline-block;
  vertical-align: middle;
}
.toggle__night {
  margin-left: 0.75em;
}
.toggle.toggle--on .toggle__day,
.toggle.toggle--off .toggle__night {
  opacity: 0.4;
}

/* Responsive */
@media (max-width: 667px) {
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  .layout--constrained {
    width: auto;
    margin-left: 1.3125rem;
    margin-right: 1.3125rem;
  }
}
