/* Background */ .pl-bg { color: #f8f8f2; background-color: #282a36; }
/* PreWrapper */ .pl-chroma { color: #f8f8f2; background-color: #282a36; }
/* LineTableTD */  .pl-lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */  .pl-lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */  .pl-hl { background-color: #3d3f4a }
/* LineNumbersTable */  .pl-lnt { white-space: pre; user-select: none; margin-right: 0.pl-4em; padding: 0 0.pl-4em 0 0.pl-4em;color: #7f7f7f }
/* LineNumbers */  .pl-ln { white-space: pre; user-select: none; margin-right: 0.pl-4em; padding: 0 0.pl-4em 0 0.pl-4em;color: #7f7f7f }
/* Line */  .pl-line { display: flex; }
/* Keyword */  .pl-k { color: #ff79c6 }
/* KeywordConstant */  .pl-kc { color: #ff79c6 }
/* KeywordDeclaration */  .pl-kd { color: #8be9fd; }
/* KeywordNamespace */  .pl-kn { color: #ff79c6 }
/* KeywordPseudo */  .pl-kp { color: #ff79c6 }
/* KeywordReserved */  .pl-kr { color: #ff79c6 }
/* KeywordType */  .pl-kt { color: #8be9fd }
/* NameAttribute */  .pl-na { color: #50fa7b }
/* NameBuiltin */  .pl-nb { color: #8be9fd; }
/* NameClass */  .pl-nc { color: #50fa7b }
/* NameFunction */  .pl-nf { color: #50fa7b }
/* NameLabel */  .pl-nl { color: #8be9fd; }
/* NameTag */  .pl-nt { color: #ff79c6 }
/* NameVariable */  .pl-nv { color: #8be9fd; }
/* NameVariableClass */  .pl-vc { color: #8be9fd; }
/* NameVariableGlobal */  .pl-vg { color: #8be9fd; }
/* NameVariableInstance */  .pl-vi { color: #8be9fd; }
/* LiteralString */  .pl-s { color: #f1fa8c }
/* LiteralStringAffix */  .pl-sa { color: #f1fa8c }
/* LiteralStringBacktick */  .pl-sb { color: #f1fa8c }
/* LiteralStringChar */  .pl-sc { color: #f1fa8c }
/* LiteralStringDelimiter */  .pl-dl { color: #f1fa8c }
/* LiteralStringDoc */  .pl-sd { color: #f1fa8c }
/* LiteralStringDouble */  .pl-s2 { color: #f1fa8c }
/* LiteralStringEscape */  .pl-se { color: #f1fa8c }
/* LiteralStringHeredoc */  .pl-sh { color: #f1fa8c }
/* LiteralStringInterpol */  .pl-si { color: #f1fa8c }
/* LiteralStringOther */  .pl-sx { color: #f1fa8c }
/* LiteralStringRegex */  .pl-sr { color: #f1fa8c }
/* LiteralStringSingle */  .pl-s1 { color: #f1fa8c }
/* LiteralStringSymbol */  .pl-ss { color: #f1fa8c }
/* LiteralNumber */  .pl-m { color: #bd93f9 }
/* LiteralNumberBin */  .pl-mb { color: #bd93f9 }
/* LiteralNumberFloat */  .pl-mf { color: #bd93f9 }
/* LiteralNumberHex */  .pl-mh { color: #bd93f9 }
/* LiteralNumberInteger */  .pl-mi { color: #bd93f9 }
/* LiteralNumberIntegerLong */  .pl-il { color: #bd93f9 }
/* LiteralNumberOct */  .pl-mo { color: #bd93f9 }
/* Operator */  .pl-o { color: #ff79c6 }
/* OperatorWord */  .pl-ow { color: #ff79c6 }
/* Comment */  .pl-c { color: #6272a4 }
/* CommentHashbang */  .pl-ch { color: #6272a4 }
/* CommentMultiline */  .pl-cm { color: #6272a4 }
/* CommentSingle */  .pl-c1 { color: #6272a4 }
/* CommentSpecial */  .pl-cs { color: #6272a4 }
/* CommentPreproc */  .pl-cp { color: #ff79c6 }
/* CommentPreprocFile */  .pl-cpf { color: #ff79c6 }
/* GenericDeleted */  .pl-gd { color: #ff5555 }
/* GenericEmph */  .pl-ge { text-decoration: underline }
/* GenericHeading */  .pl-gh { font-weight: bold }
/* GenericInserted */  .pl-gi { color: #50fa7b; font-weight: bold }
/* GenericOutput */  .pl-go { color: #44475a }
/* GenericSubheading */  .pl-gu { font-weight: bold }
/* GenericUnderline */  .pl-gl { text-decoration: underline }
