$partial("templates/nav.html")$

<main id="content" tabindex="-1">
  <article class="article">
    <header class="article__bg" style="background-image: url('$image$')">
      <div class="article__bgHeader">
        <div class="layout--constrained">
          <div class="article__bgTitleWrap">
            <h1 class="article__bgTitle">
              <a href="$url$">$title$</a>
            </h1>
            <div class="article__bgSubHeader">
              <small class="italic">$date$</small>
              $if(updated)$
              <small class="italic">(updated: $updated$)</small>
              $endif$
              $if(photoCredit)$
                <small class="article__bgPhotoCred italic">
                  [ photo credit <a href="$photoWebsite$">$photoCredit$</a> ]
                </small>
              $endif$
            </div>
          </div>
        </div>
        </div>
    </header>
    <section class="layout--constrained">
      <header class="article__header">
        <h1 class="article__title">
          <a href="$url$">$title$</a>
        </h1>
        <small class="italic">$date$</small>
        $if(updated)$
        <small class="italic">(updated: $updated$)</small>
        $endif$
      </header>
      $body$
    </section>
  </article>
</main>
