<section class="subscribe section--padded">
  <div class="layout--constrained">
    <h2 class="subscribe__header">Get notified of new posts</h2>

    <form action="//robertwpearce.us13.list-manage.com/subscribe/post?u=2df44e8960266388bff165fa6&amp;id=ee2f2a3737" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="subscribe__form">
      <div id="mce-responses">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2df44e8960266388bff165fa6_ee2f2a3737" tabindex="-1" value=""></div>
      <div class="subscribe__section">
        <input type="email" value="" id="mce-EMAIL" class="subscribe__input" name="EMAIL" placeholder="you@greatemail.com" aria-label="Email Address">
        <input type="submit" value="Subscribe" name="subscribe" class="subscribe__submit">
      </div>
      <small>Note: I will <em>never</em> give out your email nor spam you. Unsubscribe at any time.</small>
    </form>

    <p>
      <small>(or subscribe to the <a href="/atom.xml" class="subscribe__link">atom</a> or <a class="subscribe__link" href="/rss.xml">rss</a> feeds)</small>
    </p>
  </div>
</section>
