{{<superLayout}}
  {{$type}}article{{/type}}
  {{$superContent}}

  {{> nav }}

  <article class="article">
    <div class="article__background" style="background-image: url({{$bgImage}}{{/bgImage}})">
      <div class="overlay"></div>
      <div class="layout--constrained">
        <div class="article__backgroundHeader">
          <h1 class="heading--trim">
            <a href="{{$relativePath}}{{/relativePath}}">{{$title}}{{/title}}</a>
          </h1>
          <small><em>{{$friendlyDate}}{{/friendlyDate}}</em></small>
        </div>
      </div>
    </div>
    <div class="layout--constrained">
      <header class="article__header heading--fatBottomBorder">
        <h1 class="heading--trim">
          <a href="{{$relativePath}}{{/relativePath}}">{{$title}}{{/title}}</a>
        </h1>
        <small><em>{{$friendlyDate}}{{/friendlyDate}}</em></small>
      </header>
      {{$content}}{{/content}}
    </div>
  </article>

  {{/superContent}}
{{/superLayout}}

